html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: .9rem;
  font-weight: normal;
}

header {
  margin: 1.5rem;
  font-size: 1.8rem;
}

img {
  width: 100%;
}

h1, h2, dt {
  font-style: italic;
}

h1 {
  margin: 1rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

.banner-text h2, .banner-text p {
  margin: 0;
}

figcaption {
  padding: .2rem 1.2rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "box1 box2 box3";
  gap: .75rem;
}

.banner-image {
  display: grid;
  grid-area: banner;
}

.banner-text {
  grid-area: banner;
  color: white;
  align-self: end;
  padding: 1rem;
}

div h2 {
  margin: 0;
}

p {
  margin-top: .5rem;
  color: #fff;
}

figure {
  margin: 0;
}

dt {
  font-style: italic;
}
